.card{
    background-color: $neutral-color;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: $border-radius-curve;
    min-height: 35.7em;
    margin-bottom: 2.7em;
    @include all-transition;

    &__header{
        min-height: 16.5em;
        background-size: cover;
        border-radius:$border-radius-curve $border-radius-curve 0px 0px;
        background-position: center center;

        @include media-tablet-portrait-up{
            min-height: 17em;
        }
    }

    &__title {
        font-size: 2em;
    }

    &__body{
        padding: 2.5em;

        @include media-phone-only {
            flex-basis: 100%;
            margin-bottom: 0.7em;
            padding: 2.1em 1.0em;
        }
    }

    &__price {
        font-size: 1.65em;
        color: lighten($dark-color, 12%);
        padding: 0.7em 0;

        span{
            font-size: .75em;
            font-weight: $normal-weight;
        }
    }

    &__description {
        padding: 0.2em 0 1.8em 0;
        font-size: 1.3em;
    }

    &__controls-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include media-phone-only{
            flex-wrap: wrap;
        }
    }

    &__footer {
        display: flex;        
        align-items: center;
        width: 100%;
        font-weight: $light-weight;
        font-size: 1.1em;

        &--border-top{
            border-top: 0.07em solid $light-grey;
        }

        &--borderedX{
            border-left: 0.07em solid $light-grey;
            border-right: 0.07em  solid $light-grey;
        }

        &__location {
            flex-basis: 35%;
            padding: 2.1em 1.3em;
            text-align: center;

            i {
                padding-right: 0.5em;
            }

            @include media-phone-only {
                flex-basis: 50%;
            }
        }

        &__distance {
            flex-basis: 25%;
            padding: 2.1em 1.3em;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            @include media-phone-only {
                flex-basis: 45%;
            }

            span{
                font-style: italic;
                display: block;
            }
        }

        &__accessibility{
            flex-basis: 50%;
            padding: 2.1em 1.3em;
            font-size: 1.3em;
        }
    }

    @include media-phone-only {
        flex-basis: 100%;
    }

    @include media-tablet-portrait-up{
        flex-basis: 100%;
    }

    @include media-tablet-landscape-up{
        flex-basis: 48%;
    }

}

//Dynmaically add the fadeInBig effect to the cards
@for $i from 1 to 5 {
    .card:nth-child(#{$i}) { 
        animation-delay: $i * 0.3s;
        animation-name: fadeInUpBig;
        animation-duration: .75s;
        animation-timing-function: ease;
        animation-fill-mode: both;
     }
}