.form-control {
    position: relative;
    flex-grow: 1;
    margin: .4em .7em;
    cursor: pointer;

    &:first-child{
        margin-left: 0;
    }

    &--wide {
        flex-grow: 7;
    }

    &--dropdown::after{
        content: "";
        position: absolute;
        width: 9px;
        height: 8px;
        top: 50%;
        right: 1em;
        margin-top:-4px;
        z-index: 2;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
        pointer-events:none;
    }
}