@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lexend+Peta&family=Lusitana:wght@400;700&family=Raleway:wght@500;600&family=Chonburi&display=swap');
@import url('//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro');

h1, h2, h3 {
    font-family: $header-font;
}

h2{
    font-size: 2.2em;
    font-weight: $normal-weight;
}
